﻿@using FPS.MNTMgr.Models

@model MtrMntJob

@{
    string borderStyle = "1px solid " + Model.ActualStatusColor;
    string urlEngineer = string.Empty;
    string urlEquipment = Url.Action("Equipment", "Home", new { Id = Model.MtrEquipment.Id });
}

<style>
    .no-padding {
        padding: 1em 0em !important;
    }
</style>

<div style="font-size:8pt; border:@(borderStyle); margin:2px 1px; padding: 1px 1px;">

    <div class="row">
        <div class="col-sm-12" style="font-weight:bold;">@Model.DisplayName on <a href="@(urlEquipment)">@Model.MtrEquipment.DisplayName</a></div>
    </div>
    <div class="row">
        <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Due)):</div>
        <div class="col-sm-7">@(Model.LateDueMntStartInst.ToShortDateString())</div>
    </div>
    <div class="row">
        @if (Model.ActualStatus == FPS.MNTMgr.Settings.AppSettings.MntJobState.Finished)
        {
            <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Finished)):</div>
            <div class="col-sm-7">@(Model.ActualMntEndInst)</div>
        }
        else if (Model.ActualStatus == FPS.MNTMgr.Settings.AppSettings.MntJobState.Started)
        {
            <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Started)):</div>
            <div class="col-sm-7">@(Model.ActualMntStartInst)</div>
        }
        else if (Model.ActualStatus == FPS.MNTMgr.Settings.AppSettings.MntJobState.Scheduled)
        {
            <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Scheduled)):</div>
            <div class="col-sm-7">@(Model.ScheduledMntStartInst)</div>
        }
    </div>

    <div class="row">
        <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Event")):</div>
        <div class="col-sm-7">@(Model.MtrEvent.DisplayName)</div>
    </div>
    <div class="row">
        <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Rqd Skills")):</div>
        <div class="col-sm-7">
            @foreach (MtrSkill mtrSkill in Model.MtrEvent.RequiredMtrSkills.Values.OrderBy(x => x.DisplayName))
            {
                <div>@mtrSkill.DisplayName</div>
            }
        </div>
    </div>


    @if (Model.ScheduledMtrEngineer != null)
    {
        urlEngineer = Url.Action("Engineer", "Home", new { Id = Model.ScheduledMtrEngineer.Id });

        <div class="row">
            <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Engr Asgn")):</div>
            <div class="col-sm-7"><a href="@urlEngineer">@Model.ScheduledMtrEngineer.DisplayName</a></div>
        </div>
        <div class="row">
            <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Skills")):</div>
            <div class="col-sm-7">
                @foreach (MtrEngineerSkill mtrEngineerSkill in Model.ScheduledMtrEngineer.MtrEngineerSkills.Values)
                {
                    if (Model.MtrEvent.RequiredMtrSkills.Values.Any(x => x.Id == mtrEngineerSkill.MtrSkill.Id))
                    {
                        <div style="font-weight:bold; color:green;">@mtrEngineerSkill.MtrSkill.DisplayName</div>
                    }
                    else
                    {
                        <div>@mtrEngineerSkill.MtrSkill.DisplayName</div>
                    }
                }
            </div>
        </div>
    }

    <div class="moreLessParent">
        <div class="moreLessObject hidden">
            @foreach (MtrEngineer mtrEngineer in Model.EligibleMtrEngineers.Where(x => x != Model.ScheduledMtrEngineer))
            {
                urlEngineer = Url.Action("Engineer", "Home", new { Id = mtrEngineer.Id });

                <div class="row">
                    <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Engr Avil")):</div>
                    <div class="col-sm-7"><a href="@urlEngineer">@mtrEngineer.DisplayName</a></div>
                </div>
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        @foreach (MtrEngineerSkill mtrEngineerSkill in mtrEngineer.MtrEngineerSkills.Values)
                        {
                            if (Model.MtrEvent.RequiredMtrSkills.Values.Any(x => x.Id == mtrEngineerSkill.MtrSkill.Id))
                            {
                                <div style="font-weight:bold; color:green;">@mtrEngineerSkill.MtrSkill.DisplayName</div>
                            }
                            else
                            {
                                <div>@mtrEngineerSkill.MtrSkill.DisplayName</div>
                            }
                        }
                    </div>
                </div>
            }

        </div>
        <div style="margin-bottom:5px;">
            @if (Model.EligibleMtrEngineers.Count(x => x != Model.ScheduledMtrEngineer) >= 1)
            {
                <a href="javascript:void(0)" class="moreButton" onclick="showMore(this)">
                    @(FPS.MNTMgr.Web.Models.Resources.GetText("More"))
                    <img src="@Url.Content("~/Content/images/arrow-small-down-gray.png")" alt="Show more" />
                </a>
                <a href="javascript:void(0)" class="lessButton hidden" onclick="showLess(this)">
                    @(FPS.MNTMgr.Web.Models.Resources.GetText("Less"))
                    <img src="@Url.Content("~/Content/images/arrow-small-up-gray.png")" alt="Show less" />
                </a>
            }
        </div>

    </div>

</div>