﻿@using FPS.MNTMgr.Models

@model MtrEngineer


@{
    DateTime today = DateTime.Now.Date;

    if (Model != null && Model.NextMtrMntJob != null)
    {
        if (DateTime.Now < Model.NextMtrMntJob.DisplayMntStart)
        {
            <span style="font-size:8pt; color:#00aa00;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Free until")) @(Model.NextMtrMntJob.DisplayMntStart.ToString("HH:mm"))</span>
        }
        else
        {
            <span style="font-size:8pt; color:#b22222;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Working until")) @(Model.NextMtrMntJob.DisplayMntEnd.ToString("HH:mm"))</span>
        }
    }
    else if (Model != null && Model.Sites.ContainsKey(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId) && Model.AvailableHours.ContainsKey(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId) && Model.AvailableHours[FPS.MNTMgr.Settings.AppSettings.DefaultSiteId].ContainsKey(today))
    {
        if (Model.AvailableHours[FPS.MNTMgr.Settings.AppSettings.DefaultSiteId][today] > 0)
        {
            <span style="font-size:8pt; color:#00aa00;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Free Today")) </span>
        }
        else
        {
            <span style="font-size:8pt; color:#bbbbbb;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Not Available Today")) </span>
        }
    }
    else
    {
        <span style="font-size:8pt; color:#bbbbbb;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Not Available Today")) </span>
    }
}
