﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Web.Models

@model ViewModelMnt


<div style="min-height:100px;">
    <div style="background-color:#dddddd; font-weight:bold; margin:5px 0px;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Attentions"))</div>
    @if (Model.Site != null && Model.Site.CurrMtrAttentions.Count > 0)
    {
        foreach (MtrAttention mtrAttention in Model.Site.CurrMtrAttentions.OrderBy(x => x.CurrPrioirySort).ThenBy(x => x.Inst))
        {
            <div style="padding-left:8px;" title="@(FPS.MNTMgr.Web.Models.Resources.GetText("click for more details"))">@(Html.Partial("~/Views/Home/Partial/_MtrAttentionShortSummary.cshtml", mtrAttention))</div>
        }
    }
    else
    {
        <span>@(FPS.MNTMgr.Web.Models.Resources.GetText("No urgent attention"))</span>
    }
</div>
