﻿@using FPS.MNTMgr.Models

@model MtrAttention


@{
    DateTime today = DateTime.Now.Date;
    MtrEquipment eqp = null;

    if (Model != null && Model.Entity != null && Model.Entity is MtrEquipment)
    {
        eqp = (MtrEquipment)Model.Entity;

        if (eqp.CurrStateDisplay == "UDT")
        {
            <div id="popup_window_attention_desc_link_open_@(eqp.Id)" style="font-size:8pt; color:#222222; border:solid 1px #b22222; padding:2px 2px;">
                @(eqp.DisplayName) @(FPS.MNTMgr.Web.Models.Resources.GetText("became UDT at")) @(Model.Inst.ToString("HH:mm"))

                @if (Model.AssignedEngineer == null)
                {
                    <span>(@(FPS.MNTMgr.Web.Models.Resources.GetText("No engineer assigned")))</span>
                }
                else
                {
                    <span>()@(Model.AssignedEngineer.DisplayName) @(FPS.MNTMgr.Web.Models.Resources.GetText("is assigned")), @(FPS.MNTMgr.Web.Models.Resources.GetText(Model.CurrState)))</span>
                }
            </div>

            <div id="popup_window_attention_description_@(eqp.Id)" class="modal" style="background-color:#dddddd; padding:10px 10px; border:solid 1px #205081; position:absolute;">
                @(Html.Partial("~/Views/Home/Partial/_MtrAttentionDescriptionEquipment.cshtml", Model))
                <input type="button" id="popup_window_attention_desc_btn_close_@(eqp.Id)" value="@(FPS.MNTMgr.Web.Models.Resources.GetText("Close"))" style="margin-top:10px;" />
            </div>

            <script type="text/javascript">


                $('#popup_window_attention_desc_link_open_@(eqp.Id)').click(function () {
                    $('#popup_window_attention_description_@(eqp.Id)').show();
                });

                $('#popup_window_attention_desc_btn_close_@(eqp.Id)').click(function () {
                    $('#popup_window_attention_description_@(eqp.Id)').hide();
                });

            </script>

        }
    }
}
