﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Web.Models

@model ViewModelMnt
@{
    string urlAddNewEquipment = Url.Action("AddNewEquipment", "Common");
}


<style>
    .eqp_state_udt {
        color: #ffffff;
        background-color: #b22222;
        padding: 0 5px;
        width: 40px;
    }

    .eqp_state_sdt {
        color: #ffffff;
        background-color: #cc9900;
        padding: 0 5px;
        width: 40px;
    }

    .eqp_state_sby {
        color: #222222;
        background-color: #dddd00;
        padding: 0 5px;
        width: 40px;
    }

    .eqp_state_prd {
        color: #ffffff;
        background-color: #009933;
        padding: 0 5px;
        width: 40px;
    }

    .eqp_state_eng {
        color: #ffffff;
        background-color: #3366ff;
        padding: 0 5px;
        width: 40px;
    }


</style>


<div>
    <div style="background-color:#dddddd; font-weight:bold; margin:5px 0px;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Equipments"))</div>
    @if (Model.Site.MtrEquipments != null && Model.Site.MtrEquipments.Count > 0)
    {
        foreach (MtrEquipment equipment in Model.Site.MtrEquipments.Values.OrderBy(x => x.DisplayName))
        {
            string entityUrl = Url.Action("Equipment", "Home", new { Id = equipment.Id });

            <div style="padding-left:8px;"><span id="eqp_@(equipment.Id)" class="@(equipment.CurrStateDisplayClassName)">@(equipment.CurrStateDisplay)</span> <a href="@entityUrl">@equipment.DisplayName</a></div>
        }
    }
    <div style="padding-top:20px; text-align:right;">
        <a href="#" id="linkAddNewEquipment">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add New Equipment"))</a>
    </div>

</div>


<div id="popupNewEquipment" class="modal" style="top:100px;">
    <div class="modal-header" style="background-color:#aaaaaa;"><h3>@(FPS.MNTMgr.Web.Models.Resources.GetText("Add New Equipment"))</h3></div>
    <div class="modal-body" style="padding:0px 0px;">
        <form id="formNewEquipment" class="well" style="margin-bottom:0px;">
            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Equipment Id"))</label>
            <input type="text" id="EquipmentId">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Equipment Type"))</label>
            <input type="text" id="EquipmentType">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Main Equipment Id"))</label>
            <input type="text" id="MainEquipmentId">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Area"))</label>
            <select id="EquipmentArea" name="EquipmentArea">
                @{
                    foreach (SiteArea siteArea in Model.Site.SiteAreas.Values.OrderBy(x => x.DisplayName))
                    {
                        <option value="@(siteArea.Id)">@(siteArea.DisplayName)</option>
                    }
                }
            </select>

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Display Name"))</label>
            <input type="text" id="EquipmentDisplayName">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Description"))</label>
            <input type="text" id="EquipmentDescription">

            <br />
        </form>
    </div>
    <div class="modal-footer" style="background-color:#aaaaaa;">
        <button type="button" id="btnPopupNewEquipmentCancel" data-dismiss="modal" class="btn">@(FPS.MNTMgr.Web.Models.Resources.GetText("Cancel"))</button>
        <button type="button" id="btnPopupNewEquipmentSave" data-dismiss="modal" class="btn btn-primary">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add New Equipment"))</button>
    </div>
</div>


<script type="text/javascript">

    (function ($) {
        $("#linkAddNewEquipment").click(function () {
            ShowPopupFormNewEquipment();
        });
    })(jQuery);



    $('#btnPopupNewEquipmentCancel').click(function () {
        ClearPopupFormNewEquipmentValues();
        $('#popupNewEquipment').hide();
    });


    $('#btnPopupNewEquipmentSave').click(function () {

        $('#popupNewEquipment').hide();

        var dataRow = {
            'EquipmentId': $('#EquipmentId').val(),
            'EquipmentType': $('#EquipmentType').val(),
            'MainEquipmentId': $('#MainEquipmentId').val(),
            'EquipmentArea': $('#EquipmentArea').val(),
            'EquipmentDisplayName': $('#EquipmentDisplayName').val(),
            'EquipmentDescription': $('#EquipmentDescription').val(),
        }

        ClearPopupFormNewEquipmentValues();

        $.ajax({
            type: 'POST',
            url: "@(urlAddNewEquipment)",
            data: dataRow,
            success: function (response) {
                if (response == 'SUCCESS') {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Data Added/Updated"))');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Insufficient data. Please verify."))');
                }
            }
        });
    });

    function ClearPopupFormNewEquipmentValues() {
        $('#EquipmentId').val("");
        $('#EquipmentType').val("");
        $('#MainEquipmentId').val("");
        $('#EquipmentArea').val("");
        $('#EquipmentDisplayName').val("");
        $('#EquipmentDescription').val("");
    }

    function ShowPopupFormNewEquipment(date) {
        ClearPopupFormNewEquipmentValues();
        $('#popupNewEquipment').show();
        $('#EquipmentId').focus();
    }

</script>

<!--Script references. -->
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
<script type="text/javascript">
    $(function () {

        // Reference the auto-generated proxy for the hub.
        var chat = $.connection.eqpStateRefresh;
        // Create a function that the hub can call back to display messages.
        chat.client.refreshEqpState = function (eqpId, eqpState, eqpStateClassName) {

            $('#eqp_' + eqpId).text(eqpState);
            $('#eqp_' + eqpId).attr('class', eqpStateClassName);
            $('#eqp_' + eqpId).focus();

        };

        $.connection.hub.start().done(function () {
        });

    });

</script>
