﻿@using FPS.MNTMgr.Models


@model MtrAttention


@{
    DateTime today = DateTime.Now.Date;

    MtrEquipment eqp = null;

    if (Model != null && Model.Entity != null && Model.Entity is MtrEquipment)
    {
        eqp = (MtrEquipment)Model.Entity;

        if (eqp.CurrStateDisplay == "UDT")
        {
            <div class="row">
                <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Started at")):</div>
                <div class="col-sm-7">@(Model.Inst.ToString())</div>
            </div>
            <div class="row">
                <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Status")):</div>
                <div class="col-sm-7">@(Model.CurrState)</div>
            </div>
            <div class="row">
                <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Engr Asgn")):</div>
                <div class="col-sm-7">
                    @if (Model.AssignedEngineer != null)
                    {
                        <span>@(Model.AssignedEngineer.DisplayName)</span>
                    }
                    else
                    {
                        <span>@(FPS.MNTMgr.Web.Models.Resources.GetText("No engineer assigned"))</span>
                    }
                </div>
            </div>

            foreach (MtrMntJob mntJob in eqp.RequiredMntJobs.Where(x => x.DisplayMntStart < today.AddDays(4)).OrderBy(x => x.DisplayMntStart))
            {
                <div>@(Html.Partial("~/Views/Home/Partial/_MtrMntJob.cshtml", mntJob))</div>
            }
        }
    }
}
