﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Web.Models

@model ViewModelMnt
@{
    string urlAddNewEngineer = Url.Action("AddNewEngineer", "Common");
}

<div>
    <div style="background-color:#dddddd; font-weight:bold; margin:5px 0px;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Engineers"))</div>
    @if (Model.MtrEngineers != null && Model.MtrEngineers.Count > 0)
    {
        foreach (MtrEngineer engineer in Model.MtrEngineers.Values.OrderBy(x => x.DisplayName))
        {
            string engineerUrl = Url.Action("Engineer", "Home", new { Id = engineer.Id });

            <div style="padding-left:8px;"><a href="@engineerUrl">@engineer.DisplayName</a> @(Html.Partial("~/Views/Home/Partial/_MtrEngineerScheduleSummaryToday.cshtml", engineer))</div>
        }
    }
    <div style="padding-top:20px; text-align:right;">
        <a href="#" id="linkAddNewEngineer">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add New Engineer"))</a>
    </div>
</div>


<div id="popupNewEngineer" class="modal" style="top:100px;">
    <div class="modal-header" style="background-color:#aaaaaa;"><h3>@(FPS.MNTMgr.Web.Models.Resources.GetText("Add New Engineer"))</h3></div>
    <div class="modal-body" style="padding:0px 0px;">
        <form id="formNewEngineer" class="well" style="margin-bottom:0px;">
            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("User Id"))</label>
            <input type="text" id="EngineerId">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Full Name"))</label>
            <input type="text" id="EngineerFullName">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Display Name"))</label>
            <input type="text" id="EngineerDisplayName">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Description"))</label>
            <input type="text" id="EngineerDescription">

            <label></label>
            <ul id="EngineerSkills">
                @foreach (MtrSkill skill in Model.Site.MtrSkills.Values.OrderBy(x => x.DisplayName))
                {
                    <li><input type="checkbox" name="EngineerSkills" value="@(skill.Id)"> @(skill.DisplayName) </li>
                }
            </ul>



        </form>
    </div>
    <div class="modal-footer" style="background-color:#aaaaaa;">
        <button type="button" id="btnPopupNewEngineerCancel" data-dismiss="modal" class="btn">@(FPS.MNTMgr.Web.Models.Resources.GetText("Cancel"))</button>
        <button type="button" id="btnPopupNewEngineerSave" data-dismiss="modal" class="btn btn-primary">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add New Engineer"))</button>
    </div>
</div>


<script type="text/javascript">

    (function ($) {
        $("#linkAddNewEngineer").click(function () {
            ShowPopupFormNewEngineer();
        });
    })(jQuery);



    $('#btnPopupNewEngineerCancel').click(function () {
        ClearPopupFormNewEngineerValues();
        $('#popupNewEngineer').hide();
    });


    $('#btnPopupNewEngineerSave').click(function () {

        var engineerSkillValues = [];
        $('#EngineerSkills input:checked').each(function () {
            engineerSkillValues.push(this.value);
        });


        $('#popupNewEngineer').hide();

        var dataRow = {
            'userId': $('#EngineerId').val(),
            'fullName': $('#EngineerFullName').val(),
            'displayName': $('#EngineerDisplayName').val(),
            'description': $('#EngineerDescription').val(),
            'skills': engineerSkillValues.join(),
        }

        ClearPopupFormNewEngineerValues();

        $.ajax({
            type: 'POST',
            url: "@(urlAddNewEngineer)",
            data: dataRow,
            success: function (response) {
                if (response == 'SUCCESS') {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Data Added/Updated"))');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Insufficient data. Please verify."))');
                }
            }
        });
    });

    function ClearPopupFormNewEngineerValues() {
        $('#EngineerId').val("");
        $('#EngineerFullName').val("");
        $('#EngineerDsiplayName').val("");
    }

    function ShowPopupFormNewEngineer(date) {
        ClearPopupFormNewEngineerValues();
        $('#popupNewEngineer').show();
        $('#EngineerId').focus();
    }

</script>