﻿@using FPS.MNTMgr.Models

@model MtrEngineer





<style>
    .no-padding {
        padding: 1em 0em !important;
    }
</style>

<div style="background-color:#ffffff; font-size:8pt; margin:2px 1px; padding: 1px 1px;">


    <div class="row">
        <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Id")):</div>
        <div class="col-sm-7">@Model.Id</div>
    </div>

    <div class="row">
        <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Name")):</div>
        <div class="col-sm-7">@Model.DisplayName</div>
    </div>
    <div class="row">
        <div class="col-sm-5">@(FPS.MNTMgr.Web.Models.Resources.GetText("Skills")):</div>
        <div class="col-sm-7">
            @foreach (MtrEngineerSkill mtrEngineerSkill in Model.MtrEngineerSkills.Values.OrderBy(x=>x.MtrSkill.DisplayName))
            {
                <div style="padding-left:5px;">- @(mtrEngineerSkill.MtrSkill.DisplayName) (@mtrEngineerSkill.SkillLevel.ToString())</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-md-8">

            <div id='engineer-calendar' style="padding-top:10px;"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {

        // page is now ready, initialize the calendar...

        $('#engineer-calendar').fullCalendar({
            // put your options and callbacks here


            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            events: '/Home/GetMtrEngineerCalendar/'+@Model.Id,
            eventLimit: true,
            eventClick: function (calEvent, jsEvent, view) {
                alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Job Id")): ' + calEvent.id
                    + '\n@(FPS.MNTMgr.Web.Models.Resources.GetText("Asgn Engineer")): ' + calEvent.someKey
                    + '\n@(FPS.MNTMgr.Web.Models.Resources.GetText("Event")): ' + calEvent.title);
            }

        })

    });

</script>