﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Web.Models

@model ViewModelMnt

@{
    string urlUpdateMntJob = Url.Action("UpdateMntJob", "Common");
    string urlAddNewMntJob = Url.Action("AddNewMntJob", "Common");
}

<div id="popupNewMntJob" class="modal" style="top:100px;">
    <div class="modal-header" style="background-color:#aaaaaa;"><h3>@(FPS.MNTMgr.Web.Models.Resources.GetText("Add a New Maintenance Job"))</h3></div>
    <div class="modal-body" style="padding:0px 0px;">
        <form id="formNewMntJob" class="well" style="margin-bottom:0px;">
            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Job title"))</label>
            <input type="text" id="mntJobTitle">

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Job Description"))</label>
            <textarea name="message" rows="5" cols="30" id="mntJobDescription"></textarea>

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Equipment"))</label>
            <select id="mtrEquipment" name="mtrEquipment">
                @foreach (MtrEquipment mtrEquipment in Model.Site.MtrEquipments.Values.OrderBy(x => x.DisplayName))
                {
                    <option value="@(mtrEquipment.Id)">@(mtrEquipment.DisplayName)</option>
                }
            </select>

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Event"))</label>
            <select id="mtrEvent" name="mtrEvent">
                @foreach (MtrEvent mtrEvent in Model.Site.MtrEvents.Values.OrderBy(x => x.DisplayName))
                {
                    <option value="@(mtrEvent.Id)">@(mtrEvent.DisplayName)</option>
                }

            </select>

            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Early Due Date"))</label>
            <input type="date" id="mntEarlyDueDate">
            <br />

            <label>@(FPS.MNTMgr.Web.Models.Resources.GetText("Late Due Date"))</label>
            <input type="date" id="mntLateDueDate">
            <br />

        </form>
    </div>
    <div class="modal-footer" style="background-color:#aaaaaa;">
        <button type="button" id="btnPopupNewMntJobCancel" data-dismiss="modal" class="btn">@(FPS.MNTMgr.Web.Models.Resources.GetText("Cancel"))</button>
        <button type="button" id="btnPopupNewMntJobSave" data-dismiss="modal" class="btn btn-primary">@(FPS.MNTMgr.Web.Models.Resources.GetText("Save New Job"))</button>
    </div>
</div>


<script type="text/javascript">

    $('#btnPopupNewMntJobCancel').click(function () {
        ClearPopupFormNewMntJobValues();
        $('#popupNewMntJob').hide();
    });


    $('#btnPopupNewMntJobSave').click(function () {

        $('#popupNewMntJob').hide();

        var dataRow = {
            'MntJobTitle': $('#mntJobTitle').val(),
            'MntJobDescription': $('#mntJobDescription').val(),
            'MtrEquipmentId': $('#mtrEquipment').val(),
            'MtrEventId': $('#mtrEvent').val(),
            'MntEarlyDueDate': $('#mntEarlyDueDate').val(),
            'MntLateDueDate': $('#mntLateDueDate').val(),
        }

        ClearPopupFormNewMntJobValues();

        $.ajax({
            type: 'POST',
            url: '@(urlAddNewMntJob)',
            data: dataRow,
            success: function (response) {
                if (response == 'SUCCESS') {
                    $('#calendar').fullCalendar('refetchEvents');
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("New Maintenance saved"))!');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Error, could not save maintenance"))!');
                }
            }
        });
    });

    function ClearPopupFormNewMntJobValues() {
        $('#mntJobTitle').val("");
        $('#mntJobDescription').val("");
        $('#mntEarlyDueDate').val("");
        $('#mntLateDueDate').val("");
    }

    function ShowPopupFormNewMntJob(date) {
        ClearPopupFormNewMntJobValues();
        $('#popupNewMntJob').show();
        $('#mntJobTitle').focus();
    }

    function UpdateMntJobSchedule(EventID, DayDelta, EventStart, EventEnd) {

        var dataRow = {
            'id': EventID,
            'neweventstart': EventStart,
            'neweventend': EventEnd,
        }
        $.ajax({
            type: 'POST',
            url: '@(urlUpdateMntJob)',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(dataRow),
            success: function (response) {
                if (response == 'SUCCESS') {
                    $('#calendar').fullCalendar('refetchEvents');
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Existing maintenance updated"))');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Error, could not update maintenance"))');
                }
            }
        });
    }

</script>