﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Repositories

@{
    string urlAddNewMtrSkill = Url.Action("AddNewMtrSkill", "Common");
    Dictionary<string, MtrSkill> skills = new Dictionary<string, MtrSkill>();
    if (SiteRepository.Sites.ContainsKey(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId))
    {
        skills = SiteRepository.Sites[FPS.MNTMgr.Settings.AppSettings.DefaultSiteId].MtrSkills;
    }
}

<div>
    <div>
        <form id="formNewMtrSkill" class="well" style="margin-bottom:0px;">
            <table style="min-width:80%;">
                <thead>
                    <tr>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Site"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Skill"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Skill Display Name"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Skill Description"))</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (MtrSkill mtrSkill in skills.Values.OrderBy(x => x.DisplayName))
                        {
                            <tr>
                                <td>@(mtrSkill.Site.DisplayName)</td>
                                <td>@(mtrSkill.Id)</td>
                                <td>@(mtrSkill.DisplayName)</td>
                                <td>@(mtrSkill.Description)</td>
                                <td></td>
                            </tr>
                        }
                    }

                    <tr>
                        <td colspan="5"> &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="background-color:#dddddd;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</td>
                    </tr>
                    <tr>
                        <td colspan="5"> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>@(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId)</td>
                        <td><input type="text" name="mtrSkillId" id="mtrSkillId" /></td>
                        <td><input type="text" name="mtrSkillDisplayName" id="mtrSkillDisplayName" /></td>
                        <td><input type="text" name="mtrSkillDescription" id="mtrSkillDescription" /></td>
                        <td>
                            <button type="button" id="btnNewMtrSkillCancel" data-dismiss="modal" class="btn">@(FPS.MNTMgr.Web.Models.Resources.GetText("Cancel"))</button>
                            <button type="button" id="btnNewMtrSkillSave" data-dismiss="modal" class="btn btn-primary">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div>

    </div>
</div>



<script type="text/javascript">

    $('#btnNewMtrSkillCancel').click(function () {
        ClearFormNewMtrSkill();
    });


    $('#btnNewMtrSkillSave').click(function () {


        var dataRow = {
            'mtrSkillId': $('#mtrSkillId').val(),
            'mtrSkillDisplayName': $('#mtrSkillDisplayName').val(),
            'mtrSkillDescription': $('#mtrSkillDescription').val(),
        }

        ClearFormNewMtrSkill();

        $.ajax({
            type: 'POST',
            url: '@(urlAddNewMtrSkill)',
            data: dataRow,
            success: function (response) {
                if (response == 'SUCCESS') {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Data Added/Updated"))');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Insufficient data. Please verify."))');
                }
            }
        });
    });

    function ClearFormNewMtrSkill() {
        $('#mtrSkillId').val("");
        $('#mtrSkillDisplayName').val("");
        $('#mtrSkillDescription').val("");
    }


</script>
