﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Repositories

@{
    string urlAddNewMtrEvent = Url.Action("AddNewMtrEvent", "Common");
    Dictionary<string, MtrSkill> siteSkills = new Dictionary<string, MtrSkill>();
    Dictionary<string, MtrEvent> events = new Dictionary<string, MtrEvent>();


    if (SiteRepository.Sites.ContainsKey(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId))
    {
        events = SiteRepository.Sites[FPS.MNTMgr.Settings.AppSettings.DefaultSiteId].MtrEvents;
        siteSkills = SiteRepository.Sites[FPS.MNTMgr.Settings.AppSettings.DefaultSiteId].MtrSkills;
    }
}

<div>
    <div>
        <form id="formNewMtrEvent" class="well" style="margin-bottom:0px;">
            <table style="min-width:100%;">
                <thead>
                    <tr>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Site"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Event"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Required Hours"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Event Display Name"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Event Description"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Required Skills"))</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (MtrEvent mtrEvent in events.Values.OrderBy(x => x.DisplayName))
                        {
                            <tr>
                                <td>@(mtrEvent.Site.DisplayName)</td>
                                <td>@(mtrEvent.Id)</td>
                                <td>@(mtrEvent.RequiredMntHours)</td>
                                <td>@(mtrEvent.DisplayName)</td>
                                <td>@(mtrEvent.Description)</td>
                                <td>
                                    <ul>
                                        @foreach (MtrSkill skill in mtrEvent.RequiredMtrSkills.Values.OrderBy(x => x.DisplayName))
                                        {
                                            <li>@(skill.DisplayName)</li>
                                        }
                                    </ul>
                                </td>
                                <td></td>
                            </tr>
                        }
                    }

                    <tr>
                        <td colspan="7"> &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="7" style="background-color:#dddddd;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</td>
                    </tr>
                    <tr>
                        <td colspan="7"> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>@(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId)</td>
                        <td><input type="text" name="mtrEventId" id="mtrEventId" /></td>
                        <td><input type="number" name="mtrEventRequiredHours" id="mtrEventRequiredHours" /></td>
                        <td><input type="text" name="mtrEventDisplayName" id="mtrEventDisplayName" /></td>
                        <td><input type="text" name="mtrEventDescription" id="mtrEventDescription" /></td>
                        <td>
                            <ul id="mtrEventRequiredSkills">
                                @foreach (MtrSkill skill in siteSkills.Values.OrderBy(x => x.DisplayName))
                                {
                                    <li><input type="checkbox" name="mtrEventRequiredSkills" value="@(skill.Id)"> @(skill.DisplayName) </li>
                                }
                            </ul>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align:right;">
                            <button type="button" id="btnNewMtrEventCancel" data-dismiss="modal" class="btn">@(FPS.MNTMgr.Web.Models.Resources.GetText("Cancel"))</button>
                            <button type="button" id="btnNewMtrEventSave" data-dismiss="modal" class="btn btn-primary">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div>

    </div>
</div>



<script type="text/javascript">

    $('#btnNewMtrEventCancel').click(function () {
        ClearFormNewMtrEvent();
    });


    $('#btnNewMtrEventSave').click(function () {

        //debugger;

        var mtrEventRequiredSkillValues = [];
        $('#mtrEventRequiredSkills input:checked').each(function () {
            mtrEventRequiredSkillValues.push(this.value);
        });

        //alert(mtrEventRequiredSkillValues);

        var dataRow = {
            'mtrEventId': $('#mtrEventId').val(),
            'mtrEventRequiredHours': $('#mtrEventRequiredHours').val(),
            'mtrEventDisplayName': $('#mtrEventDisplayName').val(),
            'mtrEventDescription': $('#mtrEventDescription').val(),
            'mtrEventRequiredSkills': mtrEventRequiredSkillValues.join(),
        }

        //ClearFormNewMtrEvent();

        //alert(dataRow);

        $.ajax({
            type: 'POST',
            url: '@(urlAddNewMtrEvent)',
            data: dataRow,
            success: function (response) {
                if (response == 'SUCCESS') {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Data Added/Updated"))');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Insufficient data. Please verify."))');
                }
            }
        });
    });

    function ClearFormNewMtrEvent() {
        $('#mtrEventId').val("");
        $('#mtrEventRequiredHours').val("");
        $('#mtrEventDisplayName').val("");
        $('#mtrEventDescription').val("");
    }


</script>
