﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Repositories

@{
    string urlAddNewSiteArea = Url.Action("AddNewSiteArea", "Common");
    Dictionary<string, SiteArea> areas = new Dictionary<string, SiteArea>();
    if (SiteRepository.Sites.ContainsKey(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId))
    {
        areas = SiteRepository.Sites[FPS.MNTMgr.Settings.AppSettings.DefaultSiteId].SiteAreas;
    }
}

<div>
    <div>
        <form id="formNewSiteArea" class="well" style="margin-bottom:0px;">
            <table style="min-width:80%;">
                <thead>
                    <tr>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Site"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Area"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Area Display Name"))</th>
                        <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Area Description"))</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (SiteArea siteArea in areas.Values.OrderBy(x => x.DisplayName))
                        {
                            <tr>
                                <td>@(siteArea.Site.DisplayName)</td>
                                <td>@(siteArea.Id)</td>
                                <td>@(siteArea.DisplayName)</td>
                                <td>@(siteArea.Description)</td>
                                <td></td>
                            </tr>
                        }
                    }

                    <tr>
                        <td colspan="5"> &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="background-color:#dddddd;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</td>
                    </tr>
                    <tr>
                        <td colspan="5"> &nbsp;</td>
                    </tr>
                    <tr>
                        <td>@(FPS.MNTMgr.Settings.AppSettings.DefaultSiteId)</td>
                        <td><input type="text" name="siteAreaId" id="siteAreaId" /></td>
                        <td><input type="text" name="siteAreaDisplayName" id="siteAreaDisplayName" /></td>
                        <td><input type="text" name="siteAreaDescription" id="siteAreaDescription" /></td>
                        <td>
                            <button type="button" id="btnNewSiteAreaCancel" data-dismiss="modal" class="btn">@(FPS.MNTMgr.Web.Models.Resources.GetText("Cancel"))</button>
                            <button type="button" id="btnNewSiteAreaSave" data-dismiss="modal" class="btn btn-primary">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div>

    </div>
</div>



<script type="text/javascript">

    $('#btnNewSiteAreaCancel').click(function () {
        ClearFormNewSiteArea();
    });


    $('#btnNewSiteAreaSave').click(function () {


        var dataRow = {
            'siteAreaId': $('#siteAreaId').val(),
            'siteAreaDisplayName': $('#siteAreaDisplayName').val(),
            'siteAreaDescription': $('#siteAreaDescription').val(),
        }

        ClearFormNewSiteArea();

        $.ajax({
            type: 'POST',
            url: '@(urlAddNewSiteArea)',
            data: dataRow,
            success: function (response) {
                if (response == 'SUCCESS') {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Data Added/Updated"))');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Insufficient data. Please verify."))');
                }
            }
        });
    });

    function ClearFormNewSiteArea() {
        $('#siteAreaId').val("");
        $('#siteAreaDisplayName').val("");
        $('#siteAreaDescription').val("");
    }


</script>
