﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Languages.Models
@using FPS.MNTMgr.Languages.Repositories


@{
    HttpCookie cultureCookie = Request.Cookies["_culture"];

    string urlAddNewSiteResource = Url.Action("AddNewSiteResource", "Common");
}

<div>
    <form id="formNewSiteResource" class="well" style="margin-bottom:0px;">
        <input type="hidden" name="SiteResourceCulture" id="SiteResourceCulture" value="@cultureCookie.Value" />
        <table style="min-width:80%;">
            <thead>
                <tr>
                    <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Culture"))</th>
                    <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Original Value"))</th>
                    <th>@(FPS.MNTMgr.Web.Models.Resources.GetText("Translated Value"))</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (SiteResource siteResource in LanguageRepository.SiteResources.Where(x => x.SiteId == FPS.MNTMgr.Settings.AppSettings.DefaultSiteId && x.Culture.Equals(cultureCookie.Value, StringComparison.InvariantCultureIgnoreCase)).OrderBy(x => x.Name))
                    {
                        <tr>
                            <td>@(siteResource.Culture)</td>
                            <td>@(siteResource.Name)</td>
                            <td>@(siteResource.Value)</td>
                            <td></td>
                        </tr>
                    }
                }

                <tr>
                    <td colspan="4"> &nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color:#dddddd;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</td>
                </tr>
                <tr>
                    <td colspan="4"> &nbsp;</td>
                </tr>
                <tr>
                    <td>@cultureCookie.Value</td>
                    <td><input type="text" name="SiteResourceName" id="SiteResourceName" /></td>
                    <td><input type="text" name="SiteResourceValue" id="SiteResourceValue" /></td>
                    <td>
                        <button type="button" id="btnNewSiteResourceCancel" data-dismiss="modal" class="btn">@(FPS.MNTMgr.Web.Models.Resources.GetText("Cancel"))</button>
                        <button type="button" id="btnNewSiteResourceSave" data-dismiss="modal" class="btn btn-primary">@(FPS.MNTMgr.Web.Models.Resources.GetText("Add/Overwrite"))</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>



<script type="text/javascript">

    $('#btnNewSiteResourceCancel').click(function () {
        ClearFormNewSiteResource();
    });


    $('#btnNewSiteResourceSave').click(function () {


        var dataRow = {
            'Culture': $('#SiteResourceCulture').val(),
            'Name': $('#SiteResourceName').val(),
            'Value': $('#SiteResourceValue').val(),
        }

        ClearFormNewSiteResource();

        $.ajax({
            type: 'POST',
            url: '@(urlAddNewSiteResource)',
            data: dataRow,
            success: function (response) {
                if (response == 'SUCCESS') {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Data Added/Updated"))');
                }
                else {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Insufficient data. Please verify."))');
                }
            }
        });
    });

    function ClearFormNewSiteResource() {
        $('#SiteResourceName').val("");
        $('#SiteResourceValue').val("");
    }


</script>
