﻿
@{
    ViewBag.Title = "MNT Manager";
    string fullUrl = Url.Action("Full", "Home");
}


<script>
  $( function() {
      $("#index-tabs").tabs();
  } );
</script>

<div id="index-tabs">
    <ul>
        <li><a href="#tabs-1">@(FPS.MNTMgr.Web.Models.Resources.GetText("Areas"))</a></li>
        <li><a href="#tabs-2">@(FPS.MNTMgr.Web.Models.Resources.GetText("Events"))</a></li>
        <li><a href="#tabs-3">@(FPS.MNTMgr.Web.Models.Resources.GetText("Skills"))</a></li>
        <li><a href="#tabs-4">@(FPS.MNTMgr.Web.Models.Resources.GetText("Languages"))</a></li>
    </ul>
    <div id="tabs-1">
        @Html.Partial("~/Views/Configuration/Partial/_SiteAreaList.cshtml")
    </div>
    <div id="tabs-2">
        @Html.Partial("~/Views/Configuration/Partial/_SiteEventList.cshtml")
    </div>
    <div id="tabs-3">
        @Html.Partial("~/Views/Configuration/Partial/_SiteSkillList.cshtml")
    </div>
    <div id="tabs-4">
        @Html.Partial("~/Views/Configuration/Partial/_SiteResrouceList.cshtml")
    </div>
</div>

