﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.tool-outliner {
    border: 1px solid #000000;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    float: left;
    margin-right: 5px;
}

.entity-box {
    position: absolute;
    left: 0px;
    /*text-align: center;
    margin-top: -2px;*/
    font-size: 85%;
}

    .entity-box a {
        text-decoration: none;
        text-align: center;
        color: #000000;
    }

        .entity-box a:hover {
            text-decoration: underline;
        }

.entity-container {
    /*height: 15px;*/
}

.chambers {
}

.chamber_background {
    float: left;
    /*height: 15px;*/
    display: block;
    vertical-align: middle;
    /*height:inherit;*/
    border: dotted 1px #888888;
}

.chamber {
    /*float: left;*/
    /*height: 15px;*/
    display: block;
    position: absolute;
    border: dotted 1px #222222;
    font-size: 85%;
    text-align: center;
    vertical-align: middle;
    /*height:inherit;*/
}

.chamber_entity_name {
    font-weight: bold;
}

.ports {
    display: block;
}

.port {
    position: relative;
    float: left;
    height: 4px;
    border-top: 1px solid #000000;
    margin-top: -4px;
    display: block;
}