﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FPS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/fps")

    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/fullcalendarjs")

    @{
        string urlSetCulture = Url.Action("SetCulture", "Common");

        HttpCookie calendarLocalFileCookie = Request.Cookies["_calendarlocalfile"];
        string calendarLocaleFile = "";
        if (calendarLocalFileCookie != null && calendarLocalFileCookie.Value.Length > 0)
        {
            calendarLocaleFile = Url.Action("locale", "Scripts") + "/" + calendarLocalFileCookie.Value;
            calendarLocaleFile = calendarLocaleFile.Replace("//", "/");
            <script src="@(calendarLocaleFile)"></script>
        }
    }



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        (function ($) {
            $(document).tooltip({
                content: function () {
                    return $(this).prop('title');
                },
                track: true,
                show: false,
                hide: false
            });

        })(jQuery);
    </script>



</head>
<body style="font-family:Meiryo, YuGothic, Verdana, sans-serif">
    <div id="page-overlay" class="ui-widget-overlay" style="z-index: 50; display:none;">
        <div id="page-overlay-message">Loading</div>
    </div>
    <div id="popup-box" title="Details" style="border: solid 2px #999999; background-color:#ffffff; z-index:2;">
        <div class="loading">
            <img class="loading" src="@Url.Content("~/Content/images/loading-128x128.gif")" alt="Loading" title="Loading..." style="margin-left: auto; margin-right: auto;" />
            <span>Loading...</span>
        </div>
        <div class="body" title=""></div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#205081">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Maintenance Optimizer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#ccc;" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(FPS.MNTMgr.Web.Models.Resources.GetText("Configuration"), "Index", "Configuration", routeValues: null, htmlAttributes: new { id = "configurationLink", @style = "color:#ccc;" })</li>
                    <li>@Html.ActionLink(FPS.MNTMgr.Web.Models.Resources.GetText("Login"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color:#ccc;" })</li>
                </ul>


            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>

    </div>

    <hr />

    <div class="container">
        <div class="row" style="font-size:10pt;">
            <div class="col-md-5">&copy; @DateTime.Now.Year - Final Phase Systems LLC</div>
            <div class="col-md-7" style="text-align:right;">
                <input type="hidden" name="reset-culture-url" id="reset-culture-url" value="@Url.Action("SetCulture", "Common")" />
                <a href="#" id="culture-en-us">English</a> |
                <a href="#" id="culture-de">Deutsch</a> |
                <a href="#" id="culture-es">Español</a> |
                <a href="#" id="culture-ja-jp">日本語</a> |
                <a href="#" id="culture-zh-cn">简体中文</a> |
                <a href="#" id="culture-zh-tw">繁體中文</a>

            </div>
        </div>

    </div>


    <script type="text/javascript">
        window.autoRefreshEnabled = true;

        (function ($) {
            $("#page-overlay").hide();
            $(".loading").hide();


            $("#culture-en-us").click(function () {
                reset_culture("en-US", "en-us.js");
            });

            $("#culture-de").click(function () {
                reset_culture("de", "de.js");
            });

            $("#culture-es").click(function () {
                reset_culture("es", "es.js");
            });

            $("#culture-ja-jp").click(function () {
                reset_culture("ja-JP", "ja.js");
            });

            $("#culture-zh-cn").click(function () {
                reset_culture("zh-CN", "zh-cn.js");
            });

            $("#culture-zh-tw").click(function () {
                reset_culture("zh-TW", "zh-tw.js");
            });

            $('#screen-width-normal').click(function () {

                if (window.matchMedia('(min-width: 1920px)').matches) {
                    /* Changes when we reach the min-width  */
                    $('.container').css('width', '1170px');
                }
                else if (window.matchMedia('(min-width: 1600px)').matches) {
                    /* Changes when we reach the min-width  */
                    $('.container').css('width', '1170px');
                }


            });

            $('#screen-width-wide').click(function () {

                if (window.matchMedia('(min-width: 1920px)').matches) {
                    /* Changes when we reach the min-width  */

                    $('.container').css('width', '1872px');
                }
                else if (window.matchMedia('(min-width: 1600px)').matches) {
                    /* Changes when we reach the min-width  */
                    $('.container').css('width', '1560x');
                }


            });

        })(jQuery);

        function reset_culture(culture, calendarlocalfile) {

            var url = '@(urlSetCulture)';

            // Send the data using post
            var post = $.post(
                url,
                {
                    culture: culture,
                    calendarlocalfile: calendarlocalfile
                }).done(function (data) {

                    location.reload();


                }).fail(function (data) {
                    alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Not Set Properly"))');
                });
        }

    </script>

</body>
</html>
