﻿@using System.Globalization
@using FPS.MNTMgr.Models

@model Tool

@{
    var tool = Model;
    var chambers = tool.Chambers.Values.OrderBy(x => x.Id).ToList();
    var ports = tool.Ports.Values.OrderBy(x => x.Id).ToList();

    var toolTop = "1px";
    var toolWidth = "63px";
    var toolHeight = "20px";




}

<div id="Tool-@(tool.Id)"
     class="tool-outliner"
     title="@(Model.HoverMessage)"
     style="margin:2px 2px; height: @toolHeight; width: @toolWidth; top: @(toolTop);">

    <div id="eqp_@(tool.Id)" class="entity-box" style="line-height: @toolHeight; height: @toolHeight; width: @toolWidth; padding-left : 5px; @(tool.WebStyle.WebStyleText)">
        @tool.DisplayName
    </div>

    <div style="background-color:@tool.WebStyle.BgColorHtml; color:@tool.WebStyle.TextColorHtml; height: @toolHeight; width: @(toolWidth);">
        @{

            if (chambers.Count > 0)
            {

                double chamberWidthPx = Math.Floor((double)63 / chambers.Count) - 1;

                <div style="overflow:hidden; top: 0px; height:5px; width: 100%; position: absolute;">
                    @foreach (ToolChamber chamber in chambers.OrderBy(x => x.Id))
                    {
                        <div class="chamber_background" style="height:100%; width: @(chamberWidthPx)px; @(chamber.WebStyle.WebStyleText)" title="@Html.Raw(HttpUtility.HtmlAttributeEncode(chamber.HoverMessage))">
                            &#160;
                        </div>
                    }
                    <div class="clear-fix"></div>
                </div>


            }
        }



        @{

            if (ports.Count > 0)
            {

                double portWidthPx = Math.Floor((double)63 / ports.Count) - 1;

                <div style="overflow:hidden; top: 15px; height:5px; width: 100%; position: absolute;">
                    @foreach (ToolPort port in ports.OrderBy(x => x.Id))
                    {
                        <div class="chamber_background" style="height:100%; width: @(portWidthPx)px; @(port.WebStyle.WebStyleText)" title="@Html.Raw(HttpUtility.HtmlAttributeEncode(port.HoverMessage))">
                            &#160;
                        </div>
                    }
                    <div class="clear-fix"></div>
                </div>


            }
        }

    </div>


</div>
