﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Web.Models

@model ViewModelSummaryView


@{
    ViewBag.Title = "Process Family";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="height:87vh; ">
    @foreach (ProcessFamily processFamily in Model.ProcessFamilies.Values.Where(x => x.ShouldDisplay).OrderBy(x => x.Id))
    {
        int numCols = (processFamily.Tools.Count / 4) + 1;
        <div class="bay-container" style="float:left; background-color:#eeeeee; display:block; width: @(72*numCols)px; height:100px; border: 1px dotted #00aa00; padding:1px 1px; overflow:hidden;">
            <div style="text-align:center; overflow:hidden; height:22px;">@processFamily.DisplayName</div>
            @{
                foreach (Tool tool in processFamily.Tools.Values.OrderBy(x => x.Id))
                {
                    @Html.Partial("~/Views/Shared/_Tool.cshtml", tool)
                }
            }
        </div>
    }

    <div id="bay-container" style="float:left; background-color:#eeeeee; display:block; width: @(72*5)px; height:100px; border: 1px dotted #00aa00; padding:1px 1px; overflow:hidden;">
        <div style="text-align:center">@(FPS.MNTMgr.Web.Models.Resources.GetText("Summary"))</div>
        <div>@(FPS.MNTMgr.Web.Models.Resources.GetText("Numer of Tools UP")) : <span id="num_tools_up">@(Model.NumToolsUp)</span></div>
        <div>@(FPS.MNTMgr.Web.Models.Resources.GetText("Numer of Tools Down")) : <span id="num_tools_down">@(Model.NumToolsDown)</span></div>
        <div>@(FPS.MNTMgr.Web.Models.Resources.GetText("Numer of Tools NST")) : <span id="num_tools_nst">@(Model.NumToolsNST)</span></div>
        <div>@(FPS.MNTMgr.Web.Models.Resources.GetText("Refresh at")) : <span id="updated_inst">@(DateTime.Now.ToString())</span></div>
    </div>
</div>


<!--Script references. -->
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
<script type="text/javascript">
    $(function () {

        // Reference the auto-generated proxy for the hub.
        var chat = $.connection.eqpStateRefresh;
        // Create a function that the hub can call back to display messages.
        chat.client.refreshBayView = function (eqpId, eqpState, eqpWebStyle) {

            $('#eqp_' + eqpId).text(eqpId);
            $('#eqp_' + eqpId).attr('style', 'line-height: 20px; height: 20px; width: 63px; padding-left : 5px; ' + eqpWebStyle);
            $('#eqp_' + eqpId).focus();

        };

        chat.client.refreshSummarySection = function (updatedinst, numtoolsup, numtoolsdown, numtoolsnst) {

            $('#updated_inst').text(updatedinst);
            $('#num_tools_up').text(numtoolsup);
            $('#num_tools_down').text(numtoolsdown);
            $('#num_tools_nst').text(numtoolsnst);
            $('#updated_inst').focus();

        };

        $.connection.hub.start().done(function () {
        });

    });

</script>
