﻿@using FPS.MNTMgr.Models
@using FPS.MNTMgr.Web.Models

@model ViewModelMnt


@{
    ViewBag.Title = "MNT Manager";
    string urlFull = Url.Action("Full", "Home");
    string urlGetCalendar = Url.Action("GetCalendar", "Home");


    if (Model.SelectedMtrEngineer != null)
    {
        urlGetCalendar = Url.Action("GetCalendarMtrEngineer", "Home", new { id = Model.SelectedMtrEngineer.Id });
    }
    else if (Model.SelectedMtrEquipment != null)
    {
        urlGetCalendar = Url.Action("GetCalendarMtrEquipment", "Home", new { id = Model.SelectedMtrEquipment.Id });
    }
    else if (Model.ShouldDisplayFullCalendar)
    {
        urlGetCalendar = Url.Action("GetCalendarFull", "Home");
    }
    else
    {
        urlGetCalendar = Url.Action("GetCalendar", "Home");
    }



}
<div class="row" style="height:87vh; ">
    <div id="left-container" class="col-md-2" style="background-color:#eeeeee; display:block; height:100%; border: 1px dotted #00aa00; padding:1px 1px; overflow:hidden;">
        <!--Attention Section-->
        @Html.Partial("~/Views/Home/Partial/_MtrAttentionList.cshtml", Model)

        <!--Engineer Section-->
        @Html.Partial("~/Views/Home/Partial/_MtrEngineerList.cshtml", Model)

        <!--Equipment Section-->
        @Html.Partial("~/Views/Home/Partial/_MtrEquipmentList.cshtml", Model)

        <!--Other Section-->
        <div style="background-color:#dddddd; font-weight:bold; margin:5px 0px;">@(FPS.MNTMgr.Web.Models.Resources.GetText("Others"))</div>
        <div style="padding-left:8px;"><a href="@urlFull">@(FPS.MNTMgr.Web.Models.Resources.GetText("Full Calendar"))</a></div>

    </div>
    <div id="main-container" class="col-md-8" style="overflow:hidden;">
        @if (Model.SelectedMtrEngineer != null)
        {
            <div>
                <span style="padding:2px 10px 0px 0px; font-size: 20pt; font-weight:bold;">@(Model.SelectedMtrEngineer.DisplayName)</span>
                @foreach (MtrEngineerSkill mtrEngineerSkill in Model.SelectedMtrEngineer.MtrEngineerSkills.Values)
                {
                    <span style="padding-right:10px; font-size: 12pt; "> @mtrEngineerSkill.MtrSkill.DisplayName (@mtrEngineerSkill.SkillLevel) </span>
                }

            </div>

        }
        else if (Model.SelectedMtrEquipment != null)
        {
            <div>
                <span style="padding:2px 10px 0px 0px; font-size: 20pt; font-weight:bold;">@Model.SelectedMtrEquipment.DisplayName</span>
            </div>

        }
        else
        {
            <div>
                <span style="padding:2px 10px 0px 0px; font-size: 20pt; font-weight:bold;">&nbsp;</span>
            </div>

        }

        <div id='calendar' style="padding-top:10px;"></div>


        <div class="text-center" style="margin-top:12px;">
            <div style="float:left; width:110px; background-color:#b22222; color:#ffffff; margin-left: 2px; border-radius: 4px;" title="@(FPS.MNTMgr.Web.Models.Resources.GetText("The maintenance is due Today"))">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Due))</div>
            <div style="float:left; width:110px; background-color:#cc9900; color:#ffffff; margin-left: 2px; border-radius: 4px;" title="@(FPS.MNTMgr.Web.Models.Resources.GetText("The maintenance is due in the future"))">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Pending))</div>
            <div style="float:left; width:110px; background-color:#ff9900; color:#ffffff; margin-left: 2px; border-radius: 4px;" title="@(FPS.MNTMgr.Web.Models.Resources.GetText("The maintenance is scheduled, but not yet sarted"))">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Scheduled))</div>
            <div style="float:left; width:110px; background-color:#009933; color:#ffffff; margin-left: 2px; border-radius: 4px;" title="@(FPS.MNTMgr.Web.Models.Resources.GetText("The maintenance is started, but still in process"))">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Started))</div>
            <div style="float:left; width:110px; background-color:#3366ff; color:#ffffff; margin-left: 2px; border-radius: 4px;" title="@(FPS.MNTMgr.Web.Models.Resources.GetText("The maintenance is finished"))">@(FPS.MNTMgr.Web.Models.Resources.GetText(FPS.MNTMgr.Settings.AppSettings.MntJobState.Finished))</div>
            <div style="float:right;" class="text-right">
                @Html.ActionLink(FPS.MNTMgr.Web.Models.Resources.GetText("Reset"), "Reset", "Home") |
                @Html.ActionLink(FPS.MNTMgr.Web.Models.Resources.GetText("Schedule"), "Schedule", "Home")
            </div>
        </div>
    </div>
    <div class="col-md-2" style="background-color:#eeeeee; display:block; height:100%; border: 1px dotted #00aa00; padding:1px 1px; overflow: scroll;">
        <h4>@(FPS.MNTMgr.Web.Models.Resources.GetText("Today Work List"))</h4>
        @if (Model != null && Model.TodayMntJobs != null && Model.TodayMntJobs.Count > 0)
        {
            foreach (MtrMntJob mntJob in Model.TodayMntJobs.OrderBy(x => x.ActualStatusSort).ThenBy(x => x.DisplayMntStart))
            {
                @Html.Partial("~/Views/Home/Partial/_MtrMntJob.cshtml", mntJob)
            }
        }
        else
        {
            <div>@(FPS.MNTMgr.Web.Models.Resources.GetText("No Event"))</div>
        }
    </div>

</div>


@Html.Partial("~/Views/Home/Partial/_popupNewMntJob.cshtml", Model)


<script type="text/javascript">
    $(document).ready(function () {

        // page is now ready, initialize the calendar...
        //$('#popupNewMntJob').hide();
        $('#calendar').fullCalendar({
            // put your options and callbacks here


            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            firstDay: 0,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            nowIndicator: true,
            events: '@(urlGetCalendar)',
            eventLimit: true,
            eventClick: function (calEvent, jsEvent, view) {
                alert('@(FPS.MNTMgr.Web.Models.Resources.GetText("Job Id")): ' + calEvent.id
                    + '\n@(FPS.MNTMgr.Web.Models.Resources.GetText("Event")): ' + calEvent.Event
                    + '\n@(FPS.MNTMgr.Web.Models.Resources.GetText("Equipment")): ' + calEvent.Entity
                    + '\n@(FPS.MNTMgr.Web.Models.Resources.GetText("Asgn Engineer")): ' + calEvent.AsgnEngineer
                    + '\n@(FPS.MNTMgr.Web.Models.Resources.GetText("Description")): ' + calEvent.Description);
            },

            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                if (confirm('@(FPS.MNTMgr.Web.Models.Resources.GetText("Confirm move"))?')) {
                    UpdateMntJobSchedule(event.id, dayDelta, event.start, event.end);
                }
                else {
                    revertFunc();
                }
            },

            dayClick: function (date, allDay, jsEvent, view) {
                $('#mntJobTitle').val("");
                $('#mntEarlyDueDate').val($.fullCalendar.formatDate(date, 'yyyy/MM/dd'));
                $('#mntLateDueDate').val($.fullCalendar.formatDate(date, 'yyyy/MM/dd'));
                ShowPopupFormNewMntJob(date);
            },

        });
    });



</script>

